<ul class="contact-list">
    <li class="p-name">
        {%- if page.author == "Nazmul Idris" -%}
            Hi, I'm
            <a href="{{ author_link }}">Nazmul</a>,
            an ex-Googler, <a href="https://github.com/r3bl-org/r3bl-open-core/tree/main/tui" target="_blank">r3bl_tui maintainer</a>, SWE, entrepreneur, designer, leader,
            TaiChi-er, racer, storyteller.
            <!-- This is fontawesome icon -->
            I <i class="fas fa-heart"></i>
            leadership, authenticity, play,
            <i class="fas fa-code"></i>,
            <i class="fas fa-terminal"></i>, &
            <i class="fas fa-coffee"></i>,
            😃.
        {%- elsif page.author == "Nadia Idris" -%}
            Hi, I'm
            <a href="{{ author_link }}">Nadia</a>,
            a frontend SWE in Silicon Valley.
            <!-- This is fontawesome icon -->
            I <i class="fas fa-heart"></i>
            <i class="fas fa-terminal"></i> &&
            <i class="fas fa-code"></i> &&
            <i class="fas fa-coffee"></i> 😃.
        {%- endif -%}
    </li>
</ul>
