<!--
    Display all the categories for this post
    More info:
    - Tutorial - http://tinyurl.com/yc6fq6zx
    - Liquid language reference - http://tinyurl.com/y8s4qpwo
-->
<div class="categories-block">
    <!-- Debug to show post.categories -->
    <!-- <pre>post.categories = {{ post.categories | inspect }}</pre> -->
    {% assign sortedCategories = post.categories | sort %}
    {% for category in sortedCategories %}
        <span class="category">
            <a href="{{ '/category/' | append: category | relative_url }}">
                #{{ category | slugify }}</a>
        </span>

        <!-- Debug to show category -->
        <!-- <pre>category = {{ category | inspect }}</pre> -->

    {% endfor %}
</div>
