
<blockquote>
<p>
🌟 Please star the
<a href="https://github.com/r3bl-org/r3bl-open-core/tree/main/cmdr">r3bl-open-core</a> repo.

You can get lots of useful Rust command line apps from the <code>r3bl-cmdr</code> crate in this repo:
<ul>
  <li>🐱<code>giti</code>: run interactive git commands with confidence in your terminal</li>
  <li>🦜<code>edi</code>: edit Markdown with style in your terminal</li>
</ul>

📦 You can install them using <code>cargo install r3bl-cmdr</code>
</p>

<p>If you would like to get involved in an open source project and like Rust crates, we
welcome your contributions to the
<a href="https://github.com/r3bl-org/r3bl-open-core/tree/main/cmdr">r3bl-open-core repo</a>.
</p>
</blockquote>