<blockquote>
  👀 Watch Rust 🦀 live coding videos on our
  <a href="https://www.youtube.com/@developerlifecom">YouTube Channel</a>.

  <br />

  <!-- effective async rust video & async rust playlist -->
  <iframe src="https://www.youtube.com/embed/qvIt8MF-pCM?si=hDVrz64pLbTLYe_m"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
  </iframe>

  <!-- video on rust polymorphism (no playlist) -->
  <!-- <iframe
      src="https://www.youtube.com/embed/kYTgGtJjSro?si=XmW-_CAvCfB5e269"
      title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
      >
  </iframe> -->

  <!-- video on intro to testing (with playlist) -->
  <!-- <iframe
    src="https://www.youtube.com/embed/videoseries?si=7gmhXY5DVYJG7OdU&amp;list=PLofhE49PEwmwLR_4Noa0dFOSPmSpIg_l8"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  >
  </iframe> -->

</blockquote>