
<blockquote>

👀 Watch Rust 🦀 live coding videos on our <a
href="https://www.youtube.com/@developerlifecom">YouTube Channel</a>.

<br/>

<iframe width="560" height="315"
  src="https://www.youtube.com/embed/videoseries?si=7gmhXY5DVYJG7OdU&amp;list=PLofhE49PEwmwLR_4Noa0dFOSPmSpIg_l8"
  title="YouTube video player" frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
</iframe>

</blockquote>
