<footer class="site-footer h-card">

    <div class="wrapper">

        <div class="footer-col-wrapper">

            <!-- Col 1 -->
            <div class="footer-col footer-col-3">
                <ul class="contact-list">
                    <li class="p-name">
                        {%- if site.description -%}
                        {{ site.description | escape }}
                        {%- else if site.author -%}
                        {{ site.author | escape }}
                        {%- else -%}
                        {{ site.title | escape }}
                        {%- endif -%}
                    </li>
                    {%- if site.email -%}
                    <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                    {%- endif -%}
                </ul>
                {%- include social.html -%}
            </div>

            <!-- Col 2 -->
            <div class="footer-col footer-col-3">
                {%- include site-description.html -%}
            </div>

        </div>

    </div>

</footer>
