<header class="site-header" role="banner">

    <div class="wrapper">
        {%- assign default_paths = site.pages | map: "path" -%}
        {%- assign page_paths = site.header_pages | default: default_paths -%}
      <div class="logo-container">
        <div class="logo-image">
          <a class="site-title"
             rel="author"
             href="{{ '/' | relative_url }}">
              <!-- This is the logo image placeholder. -->
                <picture>
                  <source srcset="{{ '/assets/dl-logo-icon-dark.svg' | relative_url }}" media="(max-width: 600px)"/>
                  <img  src="{{ '/assets/dl-logo-icon-and-text-dark.svg' | relative_url }}" />
                </picture>
          </a>
        </div>
      </div>

        {%- if page_paths -%}
        <nav class="site-nav">
            <input type="checkbox" id="nav-trigger" class="nav-trigger"/>
            <label for="nav-trigger">
          <span class="menu-icon">
              <svg class="svg-icon">
              <use xlink:href="{{ '/assets/minima-social-icons.svg#menu' | relative_url }}">
              </use>
            </svg>
          </span>
            </label>

            <div class="trigger">
                {%- if page.exclude == true -%}
                    <a class="page-link category-selected"
                       href="{{ page.url | relative_url }}">
                        {{ page.title | escape }}
                    </a>
                {%- else -%}
                    {%- include header_navigation.html -%}
                {%- endif -%}

            </div>
        </nav>
        {%- endif -%}

    </div>
</header>

<!-- Debug to show the value of page.title and page.category variables -->
<!--<pre>page_cursor.exclude = {{ page_cursor.exclude | inspect }}</pre>-->
<!--<pre>page.exclude = {{ page.exclude | inspect }}</pre>-->
<!--<pre>page.title = {{ page.title | inspect }}</pre>-->
<!--<pre>page.category = {{ page.category | inspect }}</pre>-->
<!--<pre>page.title (json) = {{ page.title | json }}</pre>-->
<!--<pre>page.category (json) = {{ page.category | json }}</pre>-->
