<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {%- seo -%}
  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}" />

  <!-- Add favicon -->
  <link rel="icon" type="image/svg+xml" href="{{ 'favicon.svg' | relative_url }}" />

  <!-- Add fontawesome (only for bio.html page) -->
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
    integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
    crossorigin="anonymous"
  />

  {%- feed_meta -%}
  {%- include google-analytics.html -%}
  {%- include mailchimp.html -%}
</head>
