<div class="social-media-container">

  <iframe src="https://github.com/sponsors/nazmulidris/button" title="Sponsor nazmulidris" height="35" width="107"
          style="border: 0; padding-right: 6pt;"></iframe>

  {%- if email -%}
  <p class="social-media-item">
    <a href="mailto:{{ email }}"
       target="_blank">
      <svg class="svg-icon">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#email' | relative_url }}">
        </use>
      </svg>
    </a>
  </p>
  {%- endif -%}

  {%- if linkedin_username -%}
  <p class="social-media-item">
    <a href="https://www.linkedin.com/in/{{ linkedin_username | cgi_escape | escape }}"
       target="_blank">
      <svg class="svg-icon">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#linkedin' | relative_url }}">
        </use>
      </svg>
    </a>
  </p>
  {%- endif -%}

  {%- if medium_username -%}
  <p class="social-media-item">
    <a href="https://medium.com/@{{ medium_username | escape }}"
       target="_blank">
      <svg class="svg-icon">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#medium' | relative_url }}">
        </use>
      </svg>
    </a>
  </p>
  {%- endif -%}

  {%- if youtube_username -%}
  <p class="social-media-item">
    <a href="https://youtube.com/c/{{ youtube_username | cgi_escape | escape }}/videos"
       target="_blank">
      <svg class="svg-icon">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#youtube' | relative_url }}">
        </use>
      </svg>
    </a>
  </p>
  {%- endif -%}

  {%- if github_username -%}
  <p class="social-media-item">
    <a href="https://www.github.com/{{ github_username| cgi_escape | escape }}"
       target="_blank">
      <svg class="svg-icon">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}">
        </use>
      </svg>
    </a>
  </p>
  {%- endif -%}

  {%- if dribbble_username -%}
  <p class="social-media-item">
    <a href="https://dribbble.com/{{ dribbble_username| cgi_escape | escape }}"
       target="_blank">
      <svg class="svg-icon">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#dribbble' | relative_url }}">
        </use>
      </svg>
    </a>
  </p>
  {%- endif -%}

  {%- if site.show_rss_feed -%}
  <p class="social-media-item">
    <a href="{{ 'feed.xml' | relative_url }}"
       target="_blank">
      <svg class="svg-icon">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}">
        </use>
      </svg>
    </a>
  </p>
  {%- endif -%}

</div>