<div>
  <section class="sidebar">
    <h2 class="star-us-github-heading">
      Please star and contribute to our Github <span class="heading-emoji">🙏</span>
    </h2>
    <ul class="sidebar-ul">
      <li class="app-container">
        <a href="https://github.com/r3bl-org/r3bl_rs_utils" target="_blank">
          <img class="star-icon-img" src="{{ '/assets/star-gradient.svg' | relative_url }}" />
          <div class="sidebar-list-item">
            <p class="p-tag">R3BL TUI</p>
            <h3 class="sidebar-h3"><code>r3bl_rs_utils</code></h3>
          </div>
        </a>
      </li>
      <li class="app-container">
        <a href="https://github.com/r3bl-org/r3bl-cmdr" target="_blank">
          <img class="star-icon-img" src="{{ '/assets/star-gradient.svg' | relative_url }}" />
          <div class="sidebar-list-item">
            <p class="p-tag">R3BL CMDR app</p>
            <h3 class="sidebar-h3"><code>r3bl_cmdr</code></h3>
          </div>
        </a>
      </li>
      <li class="app-container">
        <a href="https://github.com/r3bl-org/shortlink" target="_blank">
          <img class="star-icon-img" src="{{ '/assets/star-gradient.svg' | relative_url }}" />
          <div class="sidebar-list-item">
            <p class="p-tag">SHORTLINK browser ext</p>
            <h3 class="sidebar-h3"><code>shortlink</code></h3>
          </div>
        </a>
      </li>
    </ul>
  </section>
</div>
