// Header w/ animated background color.

h1 {
  --gradient: linear-gradient(45deg, #f66352, purple, #ee6352);

  font-weight: 900;
  text-transform: uppercase;
  background-image: var(--gradient);
  -webkit-background-clip: text;
  color: transparent;
  background-size: 400%;
  animation: animatedHeading-bg-animation 10s 2 alternate;
}

@keyframes animatedHeading-bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
