// Blockquote styling.
$blockquote-bg-color: transparentize(#272930, $global-background-alpha);
blockquote {
  border-radius: $global-border-radius;
  border: $global-border-style;
  font-size: $base-font-size;
  font-style: normal;
  color: darken($text-color, 20%);
  background-color: $blockquote-bg-color;
  padding: $global-padding;
}

