// Blockquote styling.
$blockquote-bg-color: transparentize(#272930, $globalAlpha);
blockquote {
  border-radius: $globalBorderRadius;
  border: $globalBorderStyle;
  font-size: $baseFontSize;
  font-style: normal;
  color: darken($textColor, 20%);
  background-color: $blockquote-bg-color;
  padding: $globalPadding;
}
