.categories-block {
  padding-top: $vertical_space;
  padding-bottom: $vertical_space * 2.3;
}

.category {
  $marginRight: 1ch;
  $paddingHorizontal: 1ch;
  $paddingVertical: 0.3ch;
  $borderWidth: 0.5 * $globalBorderWidth;
  $borderColor: transparentize($brandColor, 0.8);

  border: $borderWidth solid $borderColor;
  background: $globalLinearGradient2;
  //background-color: transparentize($color-blue-dark, $global-background-alpha);
  border-radius: $globalBorderRadius;
  padding: $paddingVertical 2 * $paddingHorizontal $paddingVertical 2 * $paddingHorizontal;
  margin-right: $marginRight;
}
