// See links.scss for handling of text color for hyperlinks.

.categories-block {
  $verticalSpace: 1rem;

  padding-top: $verticalSpace;
  padding-bottom: $verticalSpace * 1.5;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.category {
  $marginRight: 1ch;
  $marginVertical: 0.2ch;
  $paddingHorizontal: 1ch;
  $paddingVertical: 0;

  padding: $paddingVertical 2 * $paddingHorizontal $paddingVertical 2 * $paddingHorizontal;
  background: $globalLinearGradient2;
  border-radius: $globalBorderRadius;
  margin-right: $marginRight;
  margin-top: $marginVertical;
  margin-bottom: $marginVertical;
}
