// Colors.

$colorGrey: #828282;
$colorGreyLight: #565656;
$colorGreyLighter: #adadad;

$brandColor: #2f9ece;
$textColor: #e6e6e6;

$colorBlueDarker: #0d1117;
$colorBlueDark: #161b22;
$colorGreyDark: #303439;

// Gradient colors.
$colorOrange: #f66352;
$colorPurple: #800080;

$gradientStop1: rgba($colorOrange, 0.5);
$gradientStop2: rgba($colorPurple, 0.3);

$globalLinearGradient1: linear-gradient(45deg, $gradientStop1, $gradientStop2);
$globalLinearGradient2: linear-gradient(0deg, $gradientStop1, $gradientStop2);
