@font-face {
  font-family: "JetBrains Mono";
  src: url("/assets/jetbrainsmono/JetBrainsMono-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Fira Mono";
  src: url("/assets/firamono/fira-mono-v9-latin-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/assets/helveticaneue/HelveticaNeue.woff") format("woff");
}

@font-face {
  font-family: "Gotham Bold";
  src: url("/assets/gothambold/Gotham-Bold.woff") format("woff");
}

//@font-face {
//  font-family: "Helvetica Neue";
//  src: url("/assets/helveticaneue/HelveticaNeue.otf") format('otf');
//}
//
//@font-face {
//  font-family: "Gotham Bold";
//  src: url("/assets/gothambold/Gotham-Bold.otf") format('otf');
//}

// Define defaults for each variable.
$grey-color: #828282;
$grey-color-light: #565656;
$grey-color-dark: #adadad;

$brand-color: #2f9ece;
$text-color: #e6e6e6;

$color-blue-darker: #0d1117;
$color-blue-dark: #161b22;
$color-gray-dark: #303439;

// Global border radius settings.

$global-border-radius: 1rem;
$global-background-alpha: 0.5;
$global-padding: 1rem;
$global-border-width: calc(1rem / 4);
$global-border-style: $global-border-width solid
  transparentize($brand-color, $global-background-alpha);

// Global color settings.

$background-color: $color-blue-darker;
$syntax-highlight-background-color: transparentize($color-blue-dark, $global-background-alpha);

$code-font-family: "JetBrains Mono", "Fira Mono", monospace;
$code-font-weight: 550;

$heading-font-family: "Gotham Bold", "Helvetica Neue", "Google Sans", "Work Sans", Arial, sans-serif;
$base-font-family: "Fira Mono", "Fira Sans", "JetBrains Mono", "Helvetica Neue", "Lexend Deca",
  sans-serif;
$base-font-size: 1rem;
$base-font-weight: 550;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.6;

$spacing-unit: 30px;

$table-text-align: left;

// Width of the content area.
// - Info: https://baymard.com/blog/line-length-readability
// - Style guide: My .prettierrc has 100 chars as the max width.
// - CSS ch units: https://webdesign.tutsplus.com/articles/7-css-units-you-might-not-know-about--cms-22573
$content-width: 100ch;

$on-palm: 600px;
$on-laptop: 800px;

// More info on Media Queries with Sass Mixins:
// - https://itnext.io/writing-media-queries-with-sass-mixins-3ea591ea3ea4

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Gradient colors.

$gradientStop1: rgba(246, 99, 82, 0.5);
$gradientStop2: rgba(128, 0, 128, 0.3);
