$linkInactiveColor: $brandColor;
$linkInactiveColor_Category: lighten($colorParrotYellow, 25%);

a {
  color: $linkInactiveColor;
  text-decoration: none;
}

// Override if nested in .category (see category-chip.scss).
.category {
  a {
    color: $linkInactiveColor_Category;
  }
}

a {
  // Animated `color` property change.
  transition-duration: 0.15s;
  transition-property: color;

  &:hover,
  &:focus,
  &:active {
    color: $globalLinkHoverColor;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      //text-decoration: underline;
    }
  }
}
