// List styling - make lists more roomy.

$roomy-list-padding: 1.2ch;
$roomy-list-line-height: $base-line-height * 1.1;

ul,
ol {
  line-height: $roomy-list-line-height;
  li {
    padding-top: 0.3 * $roomy-list-padding;
  }
}

li {
  > ul,
  > ol {
    padding-top: $roomy-list-padding;
    padding-bottom: $roomy-list-padding;
  }
}
