$logo-margin-vertical: 0.5rem;

.logo-container {
  display: flex;
  justify-content: center;
}

.logo-image {
  width: 35ch;
  margin-top: 2 * $logo-margin-vertical;
  margin-bottom: 1 * $logo-margin-vertical;
}

@include media-query($onPalm) {
  .logo-image {
    width: 40pt;
  }
}
