.plain-text-smaller {
  font-family: 'Fira Mono', monospace;
  font-size: 0.9em;
}

code {
  font-family: $code-font-family;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
}

$color-light-gray: #F3F3F3;
$color-dark-gray: #DADADA;
$vertical_space: 14pt;
$border-outline: 1.125pt;

.categories-block {
  padding-top: $vertical_space;
  padding-bottom: $vertical_space*2.3;
}

$category-chip-padding-left-right: 6pt;
$category-chip-padding-top-bottom: 3pt;
$category-chip-rounded-border-radius: 6pt;
$category-chip-margin-right: 6pt;

.category {
  border: $border-outline solid $color-dark-gray;
  //background-color: $color-light-gray;
  border-radius: $category-chip-rounded-border-radius;
  padding: $category-chip-padding-top-bottom $category-chip-padding-left-right;
  margin-right: $category-chip-margin-right;
}

$related-post-border: 4pt;

.related-post-block {
  border: $border-outline dashed $color-dark-gray;
  background-color: $color-light-gray;
  padding-left: $related-post-border*2;
  padding-right: $related-post-border*2;
  padding-top: $related-post-border;
  padding-bottom: $related-post-border;
}

.social-media-container {
  display: flex;
  flex-direction: row;
  margin-top: 8pt;
  justify-content: flex-start;
}

.social-media-item {
  margin: 3pt;
}

.post-hero-image {
  padding-bottom: 24px;
}

.site-header {
  border-top: none;
  background-color: $color-light-gray;
}

pre, code {
  background-color: $syntax-highlight-background-color;
}

.footer-col-half {
  width: -webkit-calc(50% - (#{$spacing-unit} / 2));
  width:         calc(50% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-half {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

// In the header, when a category is selected, this is applied
.category-selected {
  border-bottom: 3px solid $brand-color;
}

pre,
code {
  @include relative-font-size(0.85);
}