// Table styling.
/*
$table-row-bg-color: lighten($background-color, 10%);
$blockquote-bg-color: lighten($background-color, 5%);
$table-header-bg-color: darken($background-color, 5%);
*/
$table-row-bg-color: #424759;
$table-header-bg-color: #1b1b1e;
table {
  border-radius: $global-border-radius;
  th {
    border-radius: $global-border-radius;
    background-color: transparentize($table-header-bg-color, $global-background-alpha);
    border: none;
  }
  td {
    border-radius: $global-border-radius;
    background-color: transparentize($table-row-bg-color, $global-background-alpha);
  }
}
