---
---

.plain-text-smaller {
  font-family: 'Fira Mono', monospace;
  font-size: 0.9em;
}

code {
  font-family: 'Fira Mono', monospace;
  font-size: 12pt;
}

body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 12pt;
}

$color-light-gray: #F3F3F3;
$color-dark-gray: #DADADA;

.site-header {
  background-color: $color-light-gray;
}

.categories {
}

.category {
  border: 1pt solid $color-dark-gray;
  background-color: $color-light-gray;
  border-radius: 3pt;
  padding: 0 3pt;
  margin-right: 3pt;
}