---
---

.plain-text-smaller {
  font-family: 'Fira Mono', monospace;
  font-size: 0.9em;
}

code {
  font-family: 'Fira Mono', monospace;
  font-size: 12pt;
}

body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 12pt;
}

$color-light-gray: #F3F3F3;
$color-dark-gray: #DADADA;

.site-header {
  background-color: $color-light-gray;
}

.categories {
}

$category-chip-border-outline: 1.125pt;
$category-chip-padding-left-right: 6pt;
$category-chip-padding-top-bottom: 3pt;
$category-chip-rounded-border-radius: 6pt;
$category-chip-margin-right: 6pt;

.category {
  border: $category-chip-border-outline solid $color-dark-gray;
  background-color: $color-light-gray;
  border-radius: $category-chip-rounded-border-radius;
  padding: $category-chip-padding-top-bottom $category-chip-padding-left-right;
  margin-right: $category-chip-margin-right;
}