---
layout: default
---

<div class="home">
    {%- if page.title -%}
        <h1 class="page-heading">
            {{ page.description }} &nbsp;⇢
            <span class="category">#{{page.title | downcase}}</span>
        </h1>
        <!--
        <h1 class="page-heading">{{ page.title }}
            {%- if page.description -%}
                &nbsp;⇢ {{ page.description }}
            {%- endif -%}
        </h1>
        -->
        <!-- Debug to show page.title and page.category
            Sample page = {
                "layout"=>"category",
                "title"=>"CS",
                "category"=>"CS",
                "description"=>"Computer Science",
                "content"=>"",
                "dir"=>"/category/ComputerScience/",
                "name"=>"CS.html",
                "path"=>"category/CS.html",
                "url"=>"/category/ComputerScience/"}
            <pre>page = {{ page | inspect }}</pre>
            <pre>page.description = {{ page.description | inspect }}</pre>
            <pre>page.title = {{ page.title | inspect }}</pre>
            <pre>page.category = {{ page.category | inspect }}</pre>
            <pre>page.title (json) = {{ page.title | json }}</pre>
            <pre>page.category (json) = {{ page.category | json }}</pre>
        -->
    {%- endif -%}

    {%- include search.html -%}

    {{ content }}

    {%- if site.posts.size > 0 -%}

        <!--Shows recent articles-->
        <!--<h2 class="post-list-heading">-->
            <!--{{ page.list_title | default: "Recent Articles" }}-->
        <!--</h2>-->

        <ul class="post-list">

            {%- for post in site.categories[page.category] -%}
                {% include post_list_item.html %}
            {%- endfor -%}

        </ul>

        {%- include rss_footer.html -%}

    {%- endif -%}

</div>