---
layout: default
---

<div class="home">

    <h1 class="page-heading">{{ page.title | default: "All" }}</h1>

    {{ content }}

    {%- if site.posts.size > 0 -%}

        <!--Shows recent articles-->
        <!--<h2 class="post-list-hea¡ding">-->
            <!--{{ page.list_title | default: "Recent Articles" }}-->
        <!--</h2>-->

        <ul class="post-list">

            {%- for post in site.posts -%}
                {% include post_list_item.html %}
            {%- endfor -%}

        </ul>

        {%- if site.show_rss_feed -%}
            <p class="rss-subscribe">subscribe <a
                    href="{{ '/feed.xml' | relative_url }}">via RSS</a>
            </p>
        {%- endif -%}

    {%- endif -%}

</div>
