---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

    {%- include post_title.html -%}

    <div class="post-content e-content" itemprop="articleBody">
        {% include header-hero-image.html %}
        {% include anchor_headings.html html=content anchorBody="#" %}
        {% include category-chips.html %}
        {% include featured-bottom.html %}
        {% include related-posts.html %}
        <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
    </div>

    {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
    {%- endif -%}

</article>
